%div#disclaimer
  Todos os contos publicados neste site são obras de ficção e são de única e exclusiva responsabilidade de seus autores.
  Se algum conto for de alguma forma ofensivo ou ilegal, por favor,
  = mail_to 'herr_gargula@gmail.com', 'denuncie!'
